# Common files

docs/phpdocumentor

# CSharp project

cs/.vs

cs/*/bin
cs/*/lib
cs/*/obj

cs/TestResults
cs/packages

# PHP project

php/.idea
php/vendor

# Common ST config

Rifmoplet.sublime-workspace
