html {
    font: 14px "Segoe Print";
}

div {
    display: inline-block;
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.inner {
    text-align: center;
}

.rhyme {
    border-radius: 6px;
    color: #efefef;
}

.space {
    margin: 2px 0 2px 0;
}

.a {
    background: #c14e4e;
}

.b {
    background: #3b8c3b;
}

.c {
    background: #6060ff;
}

.d {
    background: purple;
}
